{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="display-3">Login</h2>
<form method="post">
    {{ form.csrf_token }}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
        {{field.label(class_="form-label")}}
        {{field(class_="form-control")}}
        {% for error in field.errors %}
            {{ error(class_="invalid-feedback")}}
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
    <span class="small-text">Don't have an account? <a href="/register">Sign up!</a></span>
</form>
{% endblock %}