{% extends 'base.html' %}

{% block title %}{{user.username}} Info{% endblock %}

{% block content %}
<h2 class="display-3">{{user.username}}</h2>
<table class="table">
    <tr>
        <th>Name:</th>
        <td>{{user.first_name}} {{user.last_name}}</td>
    </tr>
    <tr>
        <th>Username:</th>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{user.email}}</td>
    </tr>
</table>
<a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">Add Feedback</a>
<div class="row mb-3">
    {% for post in user.posts %}
    <div class="col">
        <div class="card mb-3">
            <div class="card_body">
                <h5 class="card_title">
                    {{post.title}}
                </h5>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}